/* From http://css-tricks.com/perfect-full-page-background-image/ */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
    
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
    z-index: -1;
  }
}

body {
    color: #444;
}

body, h1, h2, h3, h4, p { 
    margin: 0; 
    padding: 0;  
}

body, p { 
    font-family: 'Josefin Sans', sans-serif;  
}

main p{
    margin: 10px;
}
ul {
    list-style:square;
}

a:link {
    color: #aaa;
    text-decoration: none;
}

a:visited {
    color: #aaa;
    text-decoration: none;
}

a:hover {
    color: #111;
    text-decoration: none;
}

.header{
    margin-top: 50px;
    padding: 20px; 
}

.main {
    margin-top: 20px;
    padding: 20px; 
}

.footer{
    margin-top: 20px;
    padding: 20px;
}

#menu-links{
    margin-top: 3px;
    margin-bottom: 0px;
    padding: 0px;
}

#menu-links li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.project-links {
    margin: 0px;
}
.project-links h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.project-links li {
    list-style-type: none;
}

.project-tags {
    color: #aaa;
}

.project-description {
    border-left: 2px solid #aaa;
    padding-left: 5px;
}

#powered-by{
    float:right;
}

#out-links{
    padding: 0px;
    margin: 0px;
    margin-top: -20px;
    float: right;
}

.tag ul:before{
    content: "Categories: ";
    color: #555;
}
.tag ul {
    padding: 0px;
}
.tag li {
    display: inline;
    list-style-type: none;
    padding: 0px;
    padding-right: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: none !important;
}

.glow {
    background: #fff;
    /* Theoretically for IE 8 & 9 (more valid) */   
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
    
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=88);
        
    /* Older than Firefox 0.9 */
    -moz-opacity:0.88;
        
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.88;
        
    /* Modern!
     *  /* Firefox 0.9+, Safari 2?, Chrome any?
     *      /* Opera 9+, IE 9+ */
    opacity: 0.88;
}

.shadow {
    -moz-box-shadow:    1px 1px 3px 4px #333;
    -webkit-box-shadow: 1px 1px 3px 4px #333;
    box-shadow:         1px 1px 3px 4px #333;
}
